
/* LEFT PANEL FOR FASTI FOLDR PAGE */
.fdr_l_col {
    font-family: Garamond,Baskerville,Georgia,Times,Serif;
}

#folder-left h1 {
    font-weight:bold;
}

#lpanel .fdr_l_col h2 {
    border-top: 2px solid #51767C;
    color: white;
    font-size: 1.2em;
    margin: 0;
    padding: 3px 0 0;
}
.fdr_l_col p {
    font-size: 0.9em;
    padding: 10px 10px 0;
}
.fdr_l_col span {
    font-weight: bold;
    margin: 0 5px 0 0;
}
.fdr_l_col span.hdr {
    font-family: Garamond,Baskerville,Georgia,Times,Serif;
    font-weight:normal;
    margin:0;
}
.fdr_l_col ul {
    list-style: none outside none;
    margin: 10px;
    padding: 0;
}
.fdr_l_col li {
    list-style: none outside none;
    margin: 0 0 15px;
    padding: 0;
    font-size:1em !important;
}

/* foldr front page (rpanel) */
.foldr-front {
    margin: 0;
    padding: 0;
    float: left;
    width: 300px;
}
.foldr-front a {
    display:inline !important;
}
#column1 .foldr-front a.hlnk {
    color:#FFFFFF;
    font-size:17px;
    padding: 0;
}
#column1 .foldr-front a.hlnk:hover {
    color:#B6BDC7;
}
#column1 .foldr-front li {
    margin: 0 0 1rem 0;
    padding: 0 0 1rem 0;
    border-bottom:1px solid #B6BDC7;
}
.foldr-front span.qname {
    display: block;
    padding: 0;
    margin: 2px;
    color: #335959;
    font-size:1.1em;
    font-weight:bold;
}
.foldr-front span.qname a {
    color: #335959;
    font-size:1.0em !important;
}
.foldr-front span.title {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display: block;
    padding: 0;
    margin: 4px 2px 8px 2px;
    color:#337373;
    font-size:0.9em;
    font-weight:300;
}
.foldr-front a.download {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}
.foldr-front img.download {
    vertical-align:top;
}
.foldr-front span.links a {
    color: #4ca3af;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif !important;
    margin: 0 2px;
    background: linear-gradient(to bottom, #FCFCFC, #F0F0F0) repeat scroll 0 0 #FAFAFA;
    border-color: #DADADA #D2D2D2 #C5C5C5;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    line-height: 25px;
    padding: 3px 6px;
    text-shadow: 0 1px white;
}

/* FASTI FOLDR PAGE */

#folder-cover p {
    font-size: 1.3em;
    padding: 5px 0 20px;
}

#folder-index {
    width:unset;
    width:auto;
}

#folder-cover h2, #folder-index h2 {
    font-size: 1.5em;
/*    font-weight: normal;
*/    margin: 0;
    padding: 0;
}

.folder_cover_text {
    float: left;
    font-family: Garamond,Baskerville,Georgia,Times,Serif;
    font-size: 1em;
    margin: 15px 40px 0 20px;
    width: 515px;
}

.folder_cover_text p {
    font-size: 1.3em;
    padding: 5px 0 20px;
}
.folder_cover_text a {
    display:inline !important;
}
.folder_cover_text a.hlnk {
    color:#FFFFFF;
    font-size:1em;
    padding: 0;
}
.folder_cover_text a.hlnk:hover {
    color:#B6BDC7;
}
.folder_cover_text li {
    margin: 0 0 1rem 0;
    padding: 0 0 1rem 0;
    list-style:none;
    border-bottom:1px solid #B6BDC7;
}
.folder_cover_text span {
    font-size:0.9em;
}
.folder_cover_text span.qname {
    display: block;
    padding: 0;
    margin: 2px;
    font-weight: bold;
    color: #335959;
    font-size:1.1em;
}
.folder_cover_text span.title {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display: block;
    padding: 0;
    margin: 4px 2px 8px;
    color: #337373;
}

.folder_cover_text span.links a {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color:#4CA3AF;
    margin:0 2px;
    background: linear-gradient(to bottom, #FCFCFC, #F0F0F0) repeat scroll 0 0 #FAFAFA;
    border-color: #DADADA #D2D2D2 #C5C5C5;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    line-height: 25px;
    padding: 3px 6px;
    text-shadow: 0 1px white;
}

.folder_cover_text span.links a:hover {
    color: #B6BDC7;
}

.folder_cover_text span.abstract {
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 300;
    line-height: 1.3rem;
    margin: 0.5rem 0 1rem;
}

p.fdr_board {
    margin: 465px 0 0 0;
    padding: 10px;
    width: 405px;
    color: #D3D3D3;
    font-weight: normal;
    font-size: 0.8em;
    overflow: hidden;
    font-style: italic;
    background: #212E3E;
}
p.fdr_board span {
    font-weight: bold;
    margin-right: 2px;
    font-style: normal;
}

a.refereelink {
    color: #D3D3D3;
    padding: 4px 0 0 4px;
    float:right;
    font-weight:bold;
}
a.refereelink:hover {
    color: #B6BDC7;
}
#folder_cover_image {
    float:left;
    margin:0;
    width:425px;
}
#folderseriesnav dl {
    border: 0 none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#folderseriesnav dl dt {
    background: none repeat scroll 0 0 #EEEEEE;
    font-size: 1.3em;
    padding: 4px;
}
#folderseriesnav dl dt a {
    border-left: 2px solid #264F6A;
    color: #264F6A;
    display: block;
    margin: 0;
    padding: 2px 0 0 7px;
    text-transform: uppercase;
}
#folderseriesnav dl dt a:hover {
    color:#B6BDC7;
}
#folderseriesnav dl dd {
    font-size: 1.2em;
    margin: 10px 0 40px 20px;
    font-style:normal;
}

/* The nav bar for FASTI folders */
#navcontainer.foldrnav {
    border-top: 2px solid gray;
}
#navcontainer.foldrnav ul {
    background: gray;
}
#navcontainer.foldrnav ul li a {
    border-left: 2px solid white;
    margin: 7px;
    padding-left: 7px;
    text-transform: uppercase;
    color: white;
    display: block;
    font-size: 0.9em;
}
#navcontainer.foldrnav ul li a:hover {
    color: #B6BDC7;
}
#navcontainer.foldrnav ul li a:active {
    color: #264f6a;
}
#navcontainer.foldrnav li#active a {
    color: #264f6a;
}

#botnavcntnr.foldr {
}
#botnavcntnr.foldr a {
    border-left: 2px solid #264F6A;
    color: #264F6A;
}
#botnavcntnr.foldr a:hover {
    color:#4CA3AF;
}
