<?php
$translate = $this->plugin('translate');
$this->headLink()->appendStylesheet($this->assetUrl('css/resource-page-blocks.css', 'Omeka'));
$this->htmlElement('body')->appendAttribute('class', 'item resource show');
$filterLocale = (bool) $this->siteSetting('filter_locale_values');
$lang = $this->lang();
$valueLang = $filterLocale ? [$lang, ''] : null;

$hasLeft = $this->resourcePageBlocks($item, 'left')->hasBlocks();
$hasRight = $this->resourcePageBlocks($item, 'right')->hasBlocks();
$mainClass = 'grid-column-layout';
if ($hasLeft && $hasRight) {
    $mainClass = 'fasti-grid-main-mid';
} elseif ($hasLeft) {
    $mainClass = 'fasti-grid-main-right';
} elseif ($hasRight) {
    $mainClass = 'fasti-grid-main-left';
}

?>

<?php $this->trigger('view.show.before'); ?>

<div class="grid-column-layout">

    <?php if ($hasLeft): ?>
    <div class="fasti-grid-sidebar-left">
        <?php echo $this->resourcePageBlocks($item, 'left')->getBlocks(); ?>
    </div>
    <?php endif; ?>

    <div class="<?php echo $mainClass; ?>">
        <?php echo $this->resourcePageBlocks($item, 'main')->getBlocks(); ?>
    </div>

    <?php if ($hasRight): ?>
    <div class="fasti-grid-sidebar-right">
        <?php echo $this->resourcePageBlocks($item, 'right')->getBlocks(); ?>
    </div>
    <?php endif; ?>

</div>

<?php $this->trigger('view.show.after'); ?>
