/* New Home */
@font-face {
    font-family: 'Documenta';
    src: url('skins/fasti/stylesheets/Documenta-Dtl-Regular.ttf') format('truetype');
}

/* Banner */
#navcontainer {
    margin: 3px 0 0;
    height: 16px;
}

/* Columns */
.column-container {
    width: 1001px;
    float: left;
}

.front-column {
    width: 321px;
    margin-right: 19px;
    float: left;
}

#col-1, #col-2, #col-3 {
    /*    height:400px;*/
    height: 300px;
}

#col-1 {
    background: url(conservation/skins/fasticon/images/excavation.png) right top no-repeat;
}

#col-1:hover {
    background: url(conservation/skins/fasticon/images/excavation_hover.png) right top no-repeat;
}

#col-2 {
    background: url(conservation/skins/fasticon/images/arch-con.png) right top no-repeat;
}

#col-2:hover {
    background: url(conservation/skins/fasticon/images/arch-con_hover.png) right top no-repeat;
}

#col-3 {
    background: url(conservation/skins/fasticon/images/survey.png) right top no-repeat;
    margin-right: 0;
}

#col-3:hover {
    background: url(conservation/skins/fasticon/images/survey_hover.png) right top no-repeat;
}

/* Header for Boxes */
header.box-title {
    position: relative;
    top: 125px;
    text-align: center;
}

p.box-title {
    color: white;
    font-weight: 300;
    padding: 10px;
}

h2.box-title {
    color: white;
    font-size: 25px;
    font-family: 'Documenta', Garamond, serif;
    text-transform: uppercase;
    padding: 0 10%;
}

#top a {
    color: white;
}

a#excav {
    top: 216px;
    left: 62%;
}

a#arch-con {
    top: 189px;
    left: 62%;
}

a#survey {
    top: 216px;
    left: 62%;
}

a.front {
    background: rgba(194, 194, 194, 0.52) none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 0 0 rgba(255, 255, 255, 0.4);
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 200;
    padding: 6px 15px 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: lowercase;
    transition: all 100ms linear 0s;
}

/* Bottom Half */
#bottom {
    margin-top: 15px;
}

/* FOLDR */
#fp_folder {
    float: left;
}

#fp_folder img {
    width: 321px;
}

/* Logos */
#fp_credits1 {
    margin-top: 0;
    width: 299px;
}

#fp_logos1 {
    margin-right: 0;
}

#fp_logos1 li.logos {
    margin: 0;
    padding: 0 0 15px 0;
}

#fp_logos1 img.logo {
    margin: 0 25px 0 0;
}

#fp_logos1 img#csai {
    margin-bottom: 13px;
}

#fp_logos1 img#ariadne {
    margin-bottom: 0;
    margin-left: 25px;
    margin-right: 0;
}

#fp_logos1 img#mibact {
    width: 85px;
}
