<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SitePageBlockRepresentation $block
 * @var string $heading
 * @var string $params
 */

use Omeka\Stdlib\Message;

// Helpers
$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');

// CSS
$this->headLink()->appendStylesheet($this->assetUrl('css/fasti/home.css'));

// Images
$folder_src = $this->assetUrl('img/fasti/folder.png');
$aiac_src = $this->assetUrl('img/fasti/aiac.png');
$csai_src = $this->assetUrl('img/fasti/CSAI.png');
$ariadne_src = $this->assetUrl('img/fasti/ariadne.jpg');

// Translations
$home = $this->translate('fasti.home.label');
$conservation = $this->translate('fasti.conservation.label');
$excavation = $this->translate('fasti.excavation.label');
$survey = $this->translate('fasti.survey.label');
$aiac = $this->translate('fasti.aiac.title');
$aiac_link = '<a href="http://www.aiac.org">'.$aiac.'</a>';
$csai = $this->translate('fasti.csai.title');
$csai_link = '<a href="http://csaitx.org/">'.$csai.'</a>';
$credits = $this->translate('fasti.credits');

?>

<div class="block block-simple">

    <div id="top" class="box-container">

        <!-- Box Excavation -->
        <div id="excavation-box" class="box">
            <header class="box-title">
                <h2 class="box-title"><a title="<?php echo $excavation; ?>" href="/s/excavation/"><?php echo $excavation; ?></a></h2>
            </header>
            <a id="excavation" href="/s/excavation/" class="front"><i class="fa fa-home"></i><?php echo $home; ?></a>
        </div>

        <!-- Box Conservation -->
        <div id="conservation-box" class="box">
            <header class="box-title">
                <h2 class="box-title"><a title="<?php echo $conservation; ?>" href="/s/conservation/"><?php echo $conservation; ?></a></h2>
            </header>
            <a id="conservation" href="/s/conservation/" class="front"><i class="fa fa-home"></i><?php echo $home; ?></a>
        </div>

        <!-- Box Survey -->
        <div id="survey-box" class="box">
            <header class="box-title">
                <h2 class="box-title"><a title="<?php echo $survey; ?>" href="/s/survey/"><?php echo $survey; ?></h2>
            </header>
            <a id="survey" href="/s/survey/" class="front"><i class="fa fa-home"></i><?php echo $home; ?></a>
        </div>

    </div>

    <div id="bottom" class="box-container">

        <!-- FOLDER -->
        <div id="folder_box" class="box">
            <a title="FOLDR" href="/s/folder/"><img id="folder" class="logo" src="<?php echo $folder_src; ?>" alt="FOLDR-path"/></a>
        </div>

        <!-- CREDITS -->
        <div id="credits_box" class="credits box">
            <ul id="ftr">

                <li><?php echo sprintf($this->translate($credits), $aiac_link, $csai_link); ?></li>
            </ul>
        </div>

        <!-- LOGOS -->
        <div id="logos_box" class="box">
            <ul id="ftr">
                <li class="logos">
                    <a title="AIAC" href="http://www.aiac.org/"><img id="aiac" class="logo" src="<?php echo $aiac_src; ?>" alt="aiac logo"/></a>
                    <a title="CSAI" href="http://csaitx.org/"><img id="csai" class="logo" src="<?php echo $csai_src; ?>" alt="csai logo"/></a>
                    <a title="ARIADNE" href="http://www.ariadne-infrastructure.eu/"><img id="ariadne" class="logo" src="<?php echo $ariadne_src; ?>" alt="ariadne logo"/></a>
                </li>
            </ul>
        </div>

    </div>

</div>
