<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SitePageBlockRepresentation $block
 * @var string $heading
 * @var string $params
 */

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
?>

<div class="block block-simple">
    <div id="main" class="main_folder">
        <div id="folder-cover" class="folder_cover_text">
            <p><?php echo $this->translate('fdrshrt');?></p>
            <p style="color: #337373"><?php echo $this->translate('fdrpartic');?></p>
            <div id="folderseriesnav">
                <dl>
                    <dt><a href="italy">FOLD&amp;R Italy</a></dt>
                    <dd><?php echo $this->translate('numfdr');?></dd>
                    <dt><a href="conservation">FOLD&amp;R Archaeological Conservation</a></dt>
                    <dd><?php echo $this->translate('numfdr');?></dd>
                    <dt><a href="survey">FOLD&amp;R Survey</a></dt>
                    <dd><?php echo $this->translate('numfdr');?></dd>
                </dl>
            </div>
        </div>
        <div id="folder_cover_image">
            <img src=”<?php echo $this->assetUrl('img/folder/cover.png'); ?>” alt="folder_cover">
        </div>
    </div>
</div>
