// Colors

$gray:                                  #ababab;
$bold:                                  darken($gray, 20%);
$light:                                 lighten($gray, 20%);
$bg:                                    lighten($gray, 30%);
$link:                                  #920b0b;

// Typography

$base-font-size:                        20px;
$base-line-height:                      30px;

// Units

$spacing-s:                             .25 * $base-line-height;
$spacing-m:                             .5 * $base-line-height;
$spacing-l:                             $base-line-height;

// Mixins

@mixin container {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}

@mixin button {
    border: 1px solid $light;
    background-color: $light;
    border-radius: 2px;
    padding: $spacing-s;
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    cursor: pointer;
    color: #000;

    &:hover {
        opacity: 1;
    }
}
