/* Classes for Fasti columns */

.fasti-grid-main-full {
    @include grid-column-full;
}
.fasti-grid-main-left {
    @include grid-column-left-threequarter;
}
.fasti-grid-main-right {
    @include grid-column-right-threequarter;
}
.fasti-grid-main-mid {
    @include grid-column-mid-half;
}

.fasti-grid-main-full-grid {
    @include grid-column-grid;
    @include grid-column-full;
}
.fasti-grid-main-left-grid {
    @include grid-column-grid;
    @include grid-column-left-threequarter;
}
.fasti-grid-main-right-grid {
    @include grid-column-grid;
    @include grid-column-right-threequarter;
}
.fasti-grid-main-mid-grid {
    @include grid-column-grid;
    @include grid-column-mid-half;
}

.fasti-grid-main-full-subgrid {
    @include grid-column-subgrid;
    @include grid-column-full;
}
.fasti-grid-main-left-subgrid {
    @include grid-column-subgrid;
    @include grid-column-left-threequarter;
}
.fasti-grid-main-right-subgrid {
    @include grid-column-subgrid;
    @include grid-column-right-threequarter;
}
.fasti-grid-main-mid-subgrid {
    @include grid-column-subgrid;
    @include grid-column-mid-half;
}

.fasti-grid-sidebar-left {
    @include grid-column-left-quarter;
    background-color: #F1F1F1;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.fasti-grid-sidebar-right {
    @include grid-column-right-quarter;
    background-color: #F1F1F1;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/* Elements */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
h1 {
    font-family: Garamond, Georgia, Times, Serif;
}
h2 {
    font-family: Garamond, Georgia, Times, Serif;
}
h3 {
    font-family: Garamond, Georgia, Times, Serif;
}
h4 {
    font-family: Garamond, Georgia, Times, Serif;
}
h5 {
    font-family: Garamond, Georgia, Times, Serif;
}
h6 {
    font-family: Garamond, Georgia, Times, Serif;
}

h2.subtitle {
    color: white;
    font-family: Georgia;
    font-style: italic;
    font-weight: 300;
    margin-top: -65px;
    position: relative;
    left: 30px;
    top: 95px;
}

@media screen and (max-width: 799px) {
    h2.subtitle {
        visibility: hidden;
    }
}
@media screen and (min-width: 800px) {
    header {
        padding: 0;
    }
    #search {
        border: none;
        padding: 5px;
        left: 75%;
        top: 0;
    }
}

header nav {
    background-color: $nav-background;
}
header nav ul a {
    font-size: 0.9em;
    text-transform: uppercase;
    color: $nav-link;
    border-left: 2px solid $nav-link;
    padding-left: 10px;
}
header nav ul a:link {
    color: $nav-link;
}
header nav ul a:visited {
    color: $nav-link;
}
header nav ul li.active a {
    color: $nav-active;
    font-weight: inherit;
}
header nav ul a:hover {
    color: $nav-hover;
}
#search {
    background-color: $nav-background;
    bottom: 0px;
}

.sub-menu {
    display: none;
}

.banner {
    background: $site right top no-repeat;
    color: #CDCACD;
    width: 100%;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: 5px;
}
.banner span {
    display: none;
}

/* Layout */

#site-bar {
    line-height:30px;
    margin-bottom:15px;
    background-color:transparent;
    padding:6px 24px;
    display:flex;
    justify-content:space-between
}
