/* Fasti Site Settings, e.g. site specific colors */

// Colors

$site:                                  #637D74;
$main-accent:                           #637D74;

$nav-link:                              #FFFFFF;
$nav-active:                            #637D74;
$nav-hover:                             #B6BDC7;
$nav-background:                        #617C51;

$tab-link:                              $nav-link;
$tab-active:                            $nav-active;
$tab-hover:                             $nav-hover;
$tab-background:                        #EEEEEE;
