/* Tabs using only CSS, see https://dfkaye.com/demos/accessible-css-driven-tabs-demo/ */

/* Container holding all contents. */
[role="tablist"] {
    display: flex;
    flex-wrap: wrap;
}

[name="tabs"] {
    opacity: 0;
    position: absolute;
}

/* The main tab headings */
[role="tab"] {
    /* base border style here; set color in :checked, style in :focus */
    border-color: $bg;
    border-style: solid;
    border-width: 0px 4px 4px 0px;

    background: $tab-background;
    color: $tab-link;
    cursor: pointer;
    font-family: Garamond, Georgia, Times, Serif;
    font-weight: bold;
    font-size: 1.25 * $base-font-size;
    line-height: 1.5 * $base-line-height;

    padding: 7px;
    text-align: center;
    transition: all 0.2s ease;

    flex-basis: 5em;
    flex-shrink: 1;
    flex-grow: 1;
}

/* Style the currently selected tab label */
[name="tabs"]:checked + [role="tab"] {
    box-shadow: 0 -6px 8px rgba(0, 0, 0, 0.02);
    color: $tab-active;
    margin-bottom: 0;
}

[name="tabs"]:focus + [role="tab"],
[name="tabs"]:hover + [role="tab"] {
    color: $tab-hover;
}

/* The inner tab content */
[role="tabpanel"] {
    display: none;
    transition: all 0.2s ease;
    flex-basis: 100%;
}

/*
  Verbose state-machine-like part:
  - z-index, position, and overflow no longer needed,
  - allows document content to flow in source order.
*/

/* Show the currently selected tab content */
[name="tabs"]:nth-of-type(1):checked ~ [role="tabpanel"]:nth-of-type(1),
[name="tabs"]:nth-of-type(2):checked ~ [role="tabpanel"]:nth-of-type(2),
[name="tabs"]:nth-of-type(3):checked ~ [role="tabpanel"]:nth-of-type(3),
[name="tabs"]:nth-of-type(4):checked ~ [role="tabpanel"]:nth-of-type(4),
[name="tabs"]:nth-of-type(5):checked ~ [role="tabpanel"]:nth-of-type(5),
[name="tabs"]:nth-of-type(6):checked ~ [role="tabpanel"]:nth-of-type(6),
[name="tabs"]:nth-of-type(7):checked ~ [role="tabpanel"]:nth-of-type(7),
[name="tabs"]:nth-of-type(8):checked ~ [role="tabpanel"]:nth-of-type(8),
[name="tabs"]:nth-of-type(9):checked ~ [role="tabpanel"]:nth-of-type(9),
[name="tabs"]:nth-of-type(10):checked ~ [role="tabpanel"]:nth-of-type(10),
[name="tabs"]:nth-of-type(11):checked ~ [role="tabpanel"]:nth-of-type(11),
[name="tabs"]:nth-of-type(12):checked ~ [role="tabpanel"]:nth-of-type(12),
[name="tabs"]:nth-of-type(13):checked ~ [role="tabpanel"]:nth-of-type(13),
[name="tabs"]:nth-of-type(14):checked ~ [role="tabpanel"]:nth-of-type(14),
[name="tabs"]:nth-of-type(15):checked ~ [role="tabpanel"]:nth-of-type(15),
[name="tabs"]:nth-of-type(16):checked ~ [role="tabpanel"]:nth-of-type(16),
[name="tabs"]:nth-of-type(17):checked ~ [role="tabpanel"]:nth-of-type(17),
[name="tabs"]:nth-of-type(18):checked ~ [role="tabpanel"]:nth-of-type(18),
[name="tabs"]:nth-of-type(19):checked ~ [role="tabpanel"]:nth-of-type(19),
[name="tabs"]:nth-of-type(20):checked ~ [role="tabpanel"]:nth-of-type(20),
[name="tabs"]:nth-of-type(20):checked ~ [role="tabpanel"]:nth-of-type(20),
[name="tabs"]:nth-of-type(21):checked ~ [role="tabpanel"]:nth-of-type(21),
[name="tabs"]:nth-of-type(22):checked ~ [role="tabpanel"]:nth-of-type(22),
[name="tabs"]:nth-of-type(23):checked ~ [role="tabpanel"]:nth-of-type(23),
[name="tabs"]:nth-of-type(24):checked ~ [role="tabpanel"]:nth-of-type(24),
[name="tabs"]:nth-of-type(25):checked ~ [role="tabpanel"]:nth-of-type(25),
[name="tabs"]:nth-of-type(26):checked ~ [role="tabpanel"]:nth-of-type(26),
[name="tabs"]:nth-of-type(27):checked ~ [role="tabpanel"]:nth-of-type(27),
[name="tabs"]:nth-of-type(28):checked ~ [role="tabpanel"]:nth-of-type(28),
[name="tabs"]:nth-of-type(29):checked ~ [role="tabpanel"]:nth-of-type(29),
[name="tabs"]:nth-of-type(30):checked ~ [role="tabpanel"]:nth-of-type(30) {
  display: block;
}
