/* Mixins for 12-column based grid */

@mixin grid-column-grid {
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(12, 1fr);
}

@mixin grid-column-subgrid {
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: subgrid;
}

@mixin grid-column-full {
    grid-column: 1 / 13;
}

@mixin grid-column-left-sixth {
    grid-column: 1 / 3;
}
@mixin grid-column-left-quarter {
    grid-column: 1 / 4;
}
@mixin grid-column-left-third {
    grid-column: 1 / 5;
}
@mixin grid-column-left-half {
    grid-column: 1 / 7;
}
@mixin grid-column-left-twothird {
    grid-column: 1 / 9;
}
@mixin grid-column-left-threequarter {
    grid-column: 1 / 10;
}
@mixin grid-column-left-fivesixth {
    grid-column: 1 / 11;
}

@mixin grid-column-right-fivesixth {
    grid-column: 3 / 13;
}
@mixin grid-column-right-threequarter {
    grid-column: 4 / 13;
}
@mixin grid-column-right-twothird {
    grid-column: 5 / 13;
}
@mixin grid-column-right-half {
    grid-column: 7 / 13;
}
@mixin grid-column-right-third {
    grid-column: 9 / 13;
}
@mixin grid-column-right-quarter {
    grid-column: 10 / 13;
}
@mixin grid-column-right-sixth {
    grid-column: 11 / 13;
}

@mixin grid-column-mid-half {
    grid-column: 4 / 10;
}
@mixin grid-column-mid-third {
    grid-column: 5 / 9;
}

@mixin grid-column-quarter-second {
    grid-column: 4 / 7;
}
@mixin grid-column-quarter-third {
    grid-column: 7 / 10;
}

/* Classes for a 12-column based grid */

.grid-column-layout {
    @include grid-column-grid;
}

.grid-column-full {
    @include grid-column-full;
}

.grid-column-left-sixth {
    @include grid-column-left-sixth;
}
.grid-column-left-quarter {
    @include grid-column-left-quarter;
}
.grid-column-left-third {
    @include grid-column-left-third;
}
.grid-column-left-half {
    @include grid-column-left-half;
}
.grid-column-left-twothird {
    @include grid-column-left-twothird;
}
.grid-column-left-threequarter {
    @include grid-column-left-threequarter;
}
.grid-column-left-fivesixth {
    @include grid-column-left-fivesixth;
}

.grid-column-right-fivesixth {
    @include grid-column-right-fivesixth;
}
.grid-column-right-threequarter {
    @include grid-column-right-threequarter;
}
.grid-column-right-twothird {
    @include grid-column-right-twothird;
}
.grid-column-right-half {
    @include grid-column-right-half;
}
.grid-column-right-third {
    @include grid-column-right-third;
}
.grid-column-right-quarter {
    @include grid-column-right-quarter;
}
.grid-column-right-sixth {
    @include grid-column-right-sixth;
}

.grid-column-mid-half {
    @include grid-column-mid-half;
}
.grid-column-mid-third {
    @include grid-column-mid-third;
}

.grid-column-quarter-first {
    @include grid-column-left-quarter;
}
.grid-column-quarter-second {
    @include grid-column-quarter-second;
}
.grid-column-quarter-third {
    @include grid-column-quarter-third;
}
.grid-column-quarter-fourth {
    @include grid-column-right-quarter;
}

.grid-column-third-first {
    @include grid-column-left-third;
}
.grid-column-third-second {
    @include grid-column-mid-third;
}
.grid-column-third-third {
    @include grid-column-right-third;
}

.grid-column-half-first {
    @include grid-column-left-half;
}
.grid-column-half-second {
    @include grid-column-right-half;
}
