/* Fasti Site Settings, e.g. site specific colors */

// Colors

$site:                                  #51767C;
$main-accent:                           #51767C;

$nav-link:                              #FFFFFF;
$nav-active:                            #51767C;
$nav-hover:                             #B6BDC7;
$nav-background:                        #CC856B;

$tab-link:                              $nav-link;
$tab-active:                            $nav-active;
$tab-hover:                             $nav-hover;
$tab-background:                        #EEEEEE;
