/* Fasti Home Page */

@font-face {
    font-family: 'Documenta';
    src: url('themes/ark1/asset/font/Documenta-Dtl-Regular.ttf') format('truetype');
}

.box-container {
    float: left;
    width: 1001px;
}

.box {
    float: left;
    margin-right: 19px;
    width: 321px;
}

header.box-title {
    background: rgba(0, 0, 0, .0);
    position: relative;
    text-align: center;
    text-decoration: none;
    top: 125px;
}

p.box-title {
    color: white;
    font-weight: 300;
    padding: 10px;
}

h2.box-title {
    color: white;
    font-family: 'Documenta', Garamond, serif;
    font-size: 25px;
    padding: 0 10%;
    text-transform: uppercase;
}

a.front {
    background: rgba(194, 194, 194, 0.52) none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 0 0 rgba(255, 255, 255, 0.4);
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 200;
    padding: 6px 15px 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: lowercase;
    transition: all 100ms linear 0s;
}

#top a {
    color: white;
}

#bottom {
    margin-top: 15px;
}

#excavation-box, #conservation-box, #survey-box {
    height: 300px;
}

#excavation-box {
    background: url(/themes/ark1/asset/img/fasti/excavation.png) right top no-repeat;
}

#excavation-box:hover {
    background: url(/themes/ark1/asset/img/fasti/excavation_hover.png) right top no-repeat;
}

#conservation-box {
    background: url(/themes/ark1/asset/img/fasti/conservation.png) right top no-repeat;
}

#conservation-box:hover {
    background: url(/themes/ark1/asset/img/fasti/conservation_hover.png) right top no-repeat;
}

#survey-box {
    background: url(/themes/ark1/asset/img/fasti/survey.png) right top no-repeat;
    margin-right: 0;
}

#survey-box:hover {
    background: url(/themes/ark1/asset/img/fasti/survey_hover.png) right top no-repeat;
}

a#excavation {
    top: 189px;
    left: 62%;
}

a#conservation {
    top: 189px;
    left: 62%;
}

a#survey {
    top: 189px;
    left: 62%;
}

/* FOLD&R Box */

#folder_box {
    float: left;
}

#folder_box img {
    width: 321px;
}

/* Credits Box*/

.credits {
    float: left;
    margin: 15px;
    font-size: 0.8em;
    padding: 10px 10px 0 10px;
    /*    color:#264F6A;
*/
    width: 348px;
    background: linear-gradient(to bottom, #FCFCFC, #F0F0F0) repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E1E1E1;
}

.credits ul#ftr {
    margin: 0;
}

.credits ul#ftr li {
    margin: 0 0 11px 0;
}

#credits_box {
    margin-top: 0;
    width: 299px;
}

/* Logos Box */

div#logos {
    float: left;
    width: 100%;
}

div#logos li.logos {
    margin: 10px;
}

div#logos img.logo {
    margin: 0 50px 0 0;
}

div#logos img#csai {
    margin-bottom: 13px;
}

div#logos img#ariadne {
    margin-bottom: 13px;
}

#logos_box {
    margin-right: 0;
}

#logos_box li.logos {
    margin: 0;
    padding: 0 0 15px 0;
}

#logos_box img.logo {
    margin: 0 25px 0 0;
}

#logos_box img#csai {
    margin-bottom: 13px;
}

#logos_box img#ariadne {
    margin-bottom: 0;
    margin-left: 25px;
    margin-right: 0;
}
